extends layout

block content
  a(href="https://boscoin.io")
    img(src="/svg/logo.svg" alt="BOScoin" class="logo")
  #login
    h1 #{t('web:login.title')}
    h3 #{t('web:login.title-sub')}
    section.form
      .errors &amp;
      .steps
        .step1
          form(action="/login" method="post")#login-form
            fieldset.form-item.key
              input(type="hidden" name="code" value=`${loginCode}`)#code
              input(type="hidden" name="nonce" value=`${nonce}`)#nonce
              input(type="hidden" name="source" value=`${source}`)#source
              .form-item-box.ffl-wrapper
                label(for="seed-or-key").ffl-label #{t('web:login.key-placeholder')}
                input(type="text")#seed-or-key.input
                span.clear
                  img(src="/svg/input-x.svg")
                .error-msg &amp;
            fieldset.btns
              input(type="submit" value=t('web:login.go-btn')).btn
        .step2
          form(action="/login" method="post")#password-form
            fieldset.form-item.password
              .form-item-box.ffl-wrapper
                label(for="password").ffl-label #{t('web:login.password-placeholder')}
                input(type="password")#password.input
                span.visible
                  img(src="/svg/input-eye.svg").off
                  img(src="/svg/input-eye-on.svg").on
                .error-msg &amp;
            fieldset.btns
              input(type="button" value=t('web:login.back-btn')).back-btn
              input(type="submit" value=t('web:login.go-btn')).btn
    p.footer-msg #{t('web:login.footer-msg1')}
    p.footer-msg
      | #{t('web:login.footer-msg2')}
      |
      a(href="https://boscoin.io/congress-voting/").link-register #{t('web:login.register-link')}

block scripts
  script.
    var MESSAGES = {
      NOT_MEMBERSHIP: '#{t('web:login.err-not-membership')}',
      ENTER_SEED_OR_RECOVERY: '#{t('web:login.err-enter-seed-or-recovery')}',
      INVALID_SEED: '#{t('web:login.err-invalid-seed')}',
      ENTER_PASSWORD: '#{t('web:login.err-enter-password')}',
      INVALID_RECOVERY: '#{t('web:login.err-invalid-recovery')}',
    };
  script(src=`/dist/${staticFiles['login.js']}`)
